@import url('https://fonts.googleapis.com/css?family=Russo+One');

$primColor:#edf2f8;


*{
        font-family: 'Russo One', sans-serif;    
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        user-select: none;
}

body{
        width: 100vw;
        height: 100vh;
        background-color: grey ;
        display: flex;
        justify-content: center;
        align-items: center;
} 

.inner-container{
        position: relative;
        border:5px solid darken($primColor,10%);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 2px 2px 22px 31px rgba(0,0,0,0.12);
        background-color:  $primColor;
        padding: 10px;
        height: 50vh;
        width:700px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;

        .pad-bank{
                // width: 100%;
                // height:100% ;
                margin: 20px;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px ;

        }

        .drum-pad {
                margin: auto;
                width: 120px;
                height: 80px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: black 1px 1px 2px;     
                transition: all .1s ease-out;   

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:active{
                        // background-color: #1875d1;
                        box-shadow: black 3px 3px 5px;                
                }
        }

        @media screen and (max-width:825px) {
                height: 70vh;
                width:90%;      
                min-width: 300px;   
                margin: auto;     

                flex-direction: column;

                .drum-pad {
                        width: 100px;
                        height: 60px;
                }
        }
}

.controls-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;

}




#display{
        height: 50px ;
        width: 180px;
        background-color: silver;
        border-radius: 2.5px;
        
        display: flex;
        justify-content: center;
        align-items: center;
}

.logo {
        display: flex;
        justify-content: center;

        position: absolute;
        top: -15px;
        right: 10px;
        padding: 0 10px;
        border-radius: 3px;
        cursor: pointer;

        background-color: rgba(237,242,248, 0.9);


            
        .inner-logo {
                display: inline-block;
                font-style: italic;
                font-weight: bold;
                font-size: 20px;
        }
        img{
                width: 20px;
                height: 20px;
                margin-left: 10px;
                transition: all .5s ease-in-out;

        }

        &:hover{
                img{
                        transform: rotate(760deg);
                }
        }
}

.volume-slider{
        width: 90%;
        margin-top: 5px;
        .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                box-shadow: black 1px 1px 3px;     
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
              }
              
              .slider:hover {
                opacity: 1;
              }
              
              .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #1875d1;
                cursor: pointer;
              }
              
              .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #1875d1;
                cursor: pointer;
              }
}

p{text-align: center;}

.switch{
        margin-top: -5px;
}